<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/src/static/css/base.css">
    <title>AvaliaUnB</title>
</head>
<body>   
    <div class="headerContainer">
        <header>
            <div class="consultas">
                <a href="/src/templates/pesquisaAvaliTurma.html">Turmas</a>
                <a href="/src/templates/pesquisaAvalProfessor.html">Professores</a>
            </div>
            <div class='headerLogo'>
                <a href="/src/templates/index.html">
                    <img src="/src/static/Assets/logo.png" alt="">
                </a>
            </div>
            <div class='headerLinks'>
                <a href="../SignUp/index.html">Login</a>
                <a href="../SignUp/index.html">Criar Conta</a>
            </div>
        </header>
    </div>

    {% block content %}
    <!-- Conteúdo específico da página aqui -->
    {% endblock %}
    
</body>
</html>