* {
    font-family: 'Inter';
    font-style: normal;

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.headerContainer {
    width: 100vw;
    height: 86px;
    padding: 19px 48px;

    display: flex;
    align-items: center;
    justify-content: center;
  
    background-color: #407BFF;
}
  
header {
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 100vw;
    max-width: 1440px;
}

.headerLogo {
    padding: 4px 32px;
    border-radius: 16px;

    background: white;
}

.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F4F4F4;
}

.loginBox {
    padding: 20px;
    border: 1px solid #407BFF;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px; 
}

h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-size: 16px;
    font-weight: 500;
}

input[type="email"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #407BFF;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #335AD0;
}

p {
    margin-top: 1rem;
}